.input_field{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 10px;
}
.input_field div{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.input_field input{
  width: 100%;
  padding: 15px;
  border-radius: 10px;
}
.errorMsg{
  color: red;
}